GUEST_USERNAME=username_for_guest_login
GUEST_PASSWORD=password_for_guest_login
AUTH_SECRET=you_can_generate_one_by_following_this_guide_on_Next.js_[documentation](https://nextjs.org/docs/app/guides/authentication#1-generating-a-secret-key)
POSTGRES_URL=your_supabase_postgres_url
SUPABASE_URL=your_supabase_project_url
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key